:root.light {
  --button-background-color-one: rgba(74, 77, 181, 1);
  --button-background-color-two: rgba(34, 195, 146, 1);
  --button-color: #eef9ff;
  --background: #eef9ff;
  --important-font-color: linear-gradient(
    138deg,
    rgba(74, 77, 181, 1) 0%,
    rgba(34, 195, 146, 1) 100%
  );
  --theme-switcher-background-color: rgba(74, 77, 181, 0.2);
  --theme-switcher-color: #11111b;
  --font-color: #11111b;
  --input-background: #c8d5de;
}
:root.dark {
  --background: #11111b;
  --important-font-color: linear-gradient(
    93deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  --theme-switcher-background-color: rgba(148, 187, 233, 0.2);
  --button-background-color-one: rgba(148, 187, 233, 1);
  --button-background-color-two: rgba(238, 174, 202, 1);
  --button-color: #11111b;
  --theme-switcher-color: #eef9ff;
  --font-color: #eef9ff;
  --input-background: #181b27;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: arial;
}
.main-title {
  font-size: 2rem;
  font-weight: 800;
  background: var(--important-font-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-shrink: 1;
  padding: 0px;
  margin: 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1em;
  height: 3rem;
}
.theme-switcher {
  border: none;
  border-radius: 10px;
  background: var(--theme-switcher-background-color);
  padding: 10px;
  color: var(--theme-switcher-color);
  transition: transform 300ms ease-in-out;
}
.theme-switcher:hover {
  transform: scale(1.05);
}
.adding-and-removing-items {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.add-items {
  background-color: var(--button-background-color-one);
  padding: 10px;
  border: none;
  color: var(--button-color);
  border-radius: 20px;
  transition: padding 200ms ease-in-out;
}
.remove {
  background-color: #F38BA8;
  padding: 5px;
  padding-inline: 50px;
  border: none;
  color: var(--button-color);
  border-radius: 20px;
  transition: padding 200ms ease-in-out;
}
.remove:hover,
.add-items:hover {
  padding-inline: 80px;
}
#cards-container {
  margin-top: 40px;
  margin-inline: 10px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
#cards-container > div {
  background-color: rgba(50, 68, 89, 0.2);
  height: 300px;
  border-radius: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.form > input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--input-background);
  color: var(--font-color);
}
#submit {
  background-color: var(--button-background-color-two);
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: transform 300ms ease-in-out;
}
#submit:hover {
  transform: scale(1.1);
}
dialog {
  border: none;
  border-radius: 10px;
  background-color: var(--background);
  color: var(--font-color);
  padding: 40px;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 800;
  color: var(--font-color);
}
#read-btn.true {
  border: none;
  border-radius: 15px;
  padding: 5px;
  padding-inline: 60px;
  background-color: var(--button-background-color-two);
  transition: padding 200ms ease-in-out;
}
#read-btn.false {
  border: none;
  border-radius: 15px;
  padding: 5px;
  padding-inline: 60px;
  background-color: var(--button-background-color-one);
  transition: padding 200ms ease-in-out;
}
#read-btn:hover {
  padding-inline: 80px;
}
